<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>560811182746-pi21rn0gqu3h7kf3k9f8mhjrqpa215vf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.560811182746-pi21rn0gqu3h7kf3k9f8mhjrqpa215vf</string>
	<key>API_KEY</key>
	<string>AIzaSyDAdRYUBlUfdl8IKV9FJeAIHP1-JWL-ok8</string>
	<key>GCM_SENDER_ID</key>
	<string>560811182746</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pfef</string>
	<key>PROJECT_ID</key>
	<string>pfef-46142</string>
	<key>STORAGE_BUCKET</key>
	<string>pfef-46142.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:560811182746:ios:71b7eaa11687d519956d23</string>
</dict>
</plist>